
    <div>
    <mat-toolbar>
        <button mat-icon-button (click)="inputSideNav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        <span></span>
        <div class="example-spacer"></div>
        <a mat-button ><mat-icon>home</mat-icon> Inicio</a>
        <a mat-raised-button class="btn-raised " [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> Name <mat-icon>expand_more</mat-icon></a>
            <mat-menu #menu="matMenu" class="menu-without-scroll">
              <ng-container>
                <div class="menu-info" >
                 <div> <mat-icon style="color: #555555;">account_circle</mat-icon></div>
                  <div><p style="text-transform: uppercase; line-height: 15px;">username</p></div>
                  <div><p>user</p></div>
                  <div><p>facultad</p></div>
                </div>
              </ng-container>
                <button mat-menu-item class="btn-logout">
                    <a mat-raised-button color="accent" style="width: 100%;"><mat-icon>logout</mat-icon> Cerrar sesion</a>
                </button>
            </mat-menu>
    </mat-toolbar>
        
</div>
