<form  [formGroup]="registerSector" #formDirective="ngForm" (ngSubmit)="saveSector(registerSector.value,formDirective)">

    <div class="card"> 
        <div style="text-align: center; margin-top: 10px; margin-bottom: 15px;"> 
            <h2>Registrar Sector</h2>
        </div> 
        
            <div style="width: 100%;">
                <div class="field">
                    <mat-form-field  appearance="outline" style="width: 100%;">
                    <mat-label>Nombre de unidad</mat-label>
                    <input matInput placeholder="ingres nombre de unidad" formControlName="sectorName" required type="text">
                    <mat-error class="form__validation--size">este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                
                
                <div style="text-align: center; width: 100%;">
                    <button mat-raised-button class="btn-login" type="submit" [disabled]="registerSector.invalid">
                        REGISTRAR
                    </button>
                </div>
            </div>

    </div>
</form>